.allbutton
{
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 3%;
}
.thebutton {
    background: blanchedalmond;
    border-radius: 102px;
    width: 135%;
    text-decoration: none;
    padding: 17%;
    padding-bottom: 14%;
}

/* ------------------------- */
.timer-digits{
    font-size: 300%;
    
        padding-top: 17%;
    
}
.timer-text {
    display: flex;
    justify-content: center;
    color: gray;
}
.timer-minute{
    padding-left: 5px;
    padding-right: 5px;
}
.timer {
    background: orange;
    border-radius: 25px;
    display: flex;
    margin-left: 35%;
    width: 21%;
    height: 414px;
    flex-direction: column;
    text-align: center;
    margin-top: 8%;
    padding-top: 4%;
}
.time {
    text-align: center;
  }
  .time-container {
    display: inline-block;
  }
  .time-number {
    font-size: 4em;
  }
  .time-text {
    display: flex;
    justify-content: space-around;
    color: grey;
  }
  .btn-start {
    border-radius: 102px;
    width: 80px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: blue;
  }
  .btn-pause {
    width: 80px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: green;
    border-radius: 102px;
  }
  .btn-reset {
    width: 80px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: red;
    border-radius: 102px;
  }
  .title {
    text-align: center;
  }
  .buttons {
    text-align: center;
    margin-left: -9%;
    margin-top: -17%;
}
  